In [4]:
import pandas as pd
list_1 = ['a', 'b', 'c', 'd']
labels = [1, 2, 3, 4]
ser_1 = pd.Series(data=list_1, index=labels)

print(ser_1)

1    a
2    b
3    c
4    d
dtype: object

In [7]:
import numpy as np
arr_2 = np.random.randint(10, 50, size=(2, 3))
print(arr_2)

[[37 14 31]
 [22 31 36]]

In [9]:
import pandas as pd,numpy as np
from numpy import random
arr=random.randint(50,100,size=(2,3))
df1=pd.DataFrame(arr,['A','B'],['C','D','E'])
print(df1)

    C   D   E
A  52  84  53
B  64  95  59

In [10]:
arr_2 = np.random.randint(10, 50, size=(2, 3))
df_1 = pd.DataFrame(arr_2, ['A', 'B'], ['C', 'D', 'E'])
print(df_1)

# You can use conditional operators to retrieve a table
# based on the condition
print("Greater than 40\n", df_1 > 40.0)

    C   D   E
A  48  32  23
B  31  46  39
Greater than 40
        C      D      E
A   True  False  False
B  False   True  False

In [23]:
print(df1[df1['C']>=48][['C','D']])

    C   D
A  52  84
B  64  95

In [2]:
import numpy as np,pandas as pd
arr_3 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df_2 = pd.DataFrame(arr_3, ['A', 'B', 'C'], ['X', 'Y', 'Z'])
print(df_2, "\n")
# You can use or | to combine conditions as well
df_2[(df_2['X']>3) & (df_2['X']<7)][['Y','Z']]

   X  Y  Z
A  1  2  3
B  4  5  6
C  7  8  9

   Y  Z
B  5  6